@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css');


:root {
    --bg-primary-color: #1e1e27;
    --bg-secondary-color: #39373f;
    --sidebar-header-color: rgb(240, 227, 227);
    --container-primary-color: #0f0e13;

    --side-link-color: rgb(162, 158, 199);
    --side-link-color-hover: rgb(113, 78, 222);

    --button-primary-color: rgb(113, 78, 222);
    --button-hover-color: rgb(128, 94, 230);
    
    --radio-button-hover: rgb(77, 24, 233);

    --modal-background-color: rgb(0, 0, 0);
}

::-webkit-scrollbar {
    background-color: var(--bg-primary-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--bg-secondary-color);
    border-radius: 10px;
    border: 3px solid var(--bg-primary-color);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--button-hover-color);
}

body {
    color: white;
    background-color: var(--bg-primary-color);
    height: 90vh;
}


.container-main {
    background-color: var(--container-primary-color);
    margin: 5em;
    display: grid;
    grid-template-columns: 1fr 5fr;
    width: 90%;
}

/* SIDEBAR */

.sidebar {
    display: grid;
    grid-template-rows: 1fr .5fr 7fr;
    border-right: 1px solid var(--bg-secondary-color);
}

.sidebar .sidebar-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-header {
    font-size: 1.2rem;
    color: var(--sidebar-header-color);
}

.new-project-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--button-primary-color);
    color: white;
    border: none;
    width: 95%;
    margin: auto;
    padding: 0.5em;
    max-height: 2em;
    cursor: pointer;
}

.new-project-button:hover {
    background-color: var(--button-hover-color);
}

.sidebar-list {
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.sidebar-list li {
    padding: 1em;
    color: var(--side-link-color);
    transition: all 0.3s ease-in-out;
}

.sidebar-list li:hover {
    color: var(--side-link-color-hover);
    cursor: pointer;
}

.sidebar-list .active {
    color: var(--side-link-color-hover);
    border-radius: 0.5em;
    border: none;
    background-color: var(--bg-primary-color);
}

.sidebar-container {
    display: grid;
    gap: 1em;
    padding: 1em;
}


 /* PROJECT/MAIN DISPLAY */

.todo-display {
    display: grid;
    grid-template-rows: 1fr 8fr;
    margin: 1em;
}

.todo-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:rgb(113, 78, 222) 1px solid;
    margin-bottom: 1em;
}

.todo-header button {
    background-color: var(--button-primary-color);
    color: white;
    border: none;
    border-radius: 0.5em;
    padding: 0.5em;
    max-height: 2em;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.todo-header button:hover {
    background-color: var(--button-hover-color);

}


/* MODAL */
.modal {
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: var(--modal-background-color);
    background-color: rgb(0,0,0,0.4);
}

.project-modal-content {
    display: grid;
    grid-template-rows: 0.5fr 1fr 1fr 0.5fr .1fr;
    gap: 5px;
    background-color: var(--container-primary-color);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    padding: 0 20px 0 20px;
    overflow: auto;
}

.todo-modal-content {
    display: grid;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr 0.5fr .1fr;
    gap: 5px;
    background-color: var(--container-primary-color);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    padding: 0 20px 0 20px;
    overflow: auto;
}

.modal input {
    background-color: var(--bg-secondary-color);
    border: none;
    border-radius: 0.5em;
    padding: 0.5em;
    color: white;
    width: 95%;
}

.modal input:focus {
    outline-width: 0;
}

#description {
    background-color: var(--bg-secondary-color);
    border: none;
    border-radius: 0.5em;
    width: 95%;
    height: 5em;
    padding: 0.5em;
    color: white;
    resize: none;
}


#close-form-button {
    text-align: center;
    color: white;
    border: none;
    background-color: var(--container-primary-color);
    font-size: 1rem;
    max-width: 2em;
    cursor: pointer;
}

#close-form-button:hover {
    color: var(--button-hover-color);
}



.form-header {
    display: flex;
    justify-content: space-between;
    border-bottom:rgb(113, 78, 222) 1px solid;
}

.form-container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 4fr;
    gap: 15px;
}

.form-submit-button {
    background-color: var(--button-primary-color);
    color: white;
    border: none;
    border-radius: 0.5em;
    padding: 0.5em;
    max-height: 2.1em;
    max-width: 10em;
    text-align: center;
    margin: auto;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.radio-button {
    display: none;
    appearance: none;
    margin: 0;
    width: 0;
    background-color: var(--container-primary-color);
}


.todo-form-radio-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: left;
}

.radio-button-label {
    margin: 0 4em 0 0;
    cursor: pointer;
}

.radio-button-label i {
    font-size: 1.5rem;
    color: var(--button-primary-color);
}

.radio-button:checked + .radio-button-label i {
    color: var(--radio-button-hover);
}
